header {
background-color: #EBB3A9;
color: #0c0c0c;
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 10px;
font-size: x-large;
}



nav {
    display: flex;
    justify-content: space-around;
    border: 10px;
    background-color: #C7D9B7;
    color: rgb(3, 3, 3);            
    padding: 5px;
}


footer {
    background-color: #C7D9B7;  
    padding: 2px 10px 20px 10px;
    margin-top: 10px;
}

.centered {
    text-align: center; 
}

.intro {
    max-width: 500px;
    text-align: left;
}

img {
    border-radius: 10%;
    margin: 10px 10px 10px 15px; 
}

.img2 {
    border-radius: 0%;
    margin: 0px;
}

.img-header {
    border-radius: 10%;
    margin: 0px;
}

h1 {
    font-family: cursive;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
     max-width: 850px;
     margin: auto;
}

body {
    margin: 0px;
    min-height: 100dvh;
}


.small-image {
    height: 15px;

}

p {
    padding: 10px 5px 10px 5px;
    display: flex;
}

button {
padding: 5px;
margin: 5px;
}

.container {
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
padding: 10px 10px 0px 10px;
}

div {
    display: flex;
    justify-content: center;
}

.div2 {
   display: flex;
   margin: 0;
   justify-content: space-evenly;
    padding: 10px;
}

canvas {
    background-color: #f1ccc5;
    
}

